@media screen and (min-width: 480px) {
    .icon {
        display: none;
    }
    .h3i {
        font-size: 90%;
        margin: 0;
    }

    .title {

    }

    .b1-inside {
    	height: 30vh;
    	margin: 0!important;
    	padding: 0;
    }


}

@media screen and (max-width: 330px) {
	.op50 {
		display: none;
	}
	.title {
		font-size: 255%!important;
	}

	.b1-inside {
    	height: 30vh!important;
    	margin: 0!important;
    	padding: 0;
    }

    .b1 h1 {
    	font-size: 30px!important;
    }

    .b1-text {
    	height: 60vh!important;
    }

    .sm-dis {
    	display: none;
    }
}

@media screen and (max-width: 380px) {
    .nav-link {
        font-size: 70%;
    }
    .title {
    	display: none;
        font-size: 285%!important;
    }



   	.b1-inside {
       	height: 40vh!important;
       	margin: 0!important;
       	padding: 0;
       }

     .b1 h1 {
     	font-size: 30px!important;
     }

     .b1-text {
     	padding: 5vw!important;
     	height: 60vh;
     }


}

@media screen and (max-width: 430px) {
    .title {
        font-size: 325%!important;
        display: none;
    }
    .h3i {
        font-size: 50%;
        margin: 0;
    }

    .sm-dis {
    	display: none;
    }

    .b1-text {
    	padding: 5vw!important;
    	height: 60vh;
    }

}

@media screen and (max-width: 480px) {

		.b1-inside {
	    	height: 30vh!important;
	    	margin: 0!important;
	    	padding: 0;
	    }


    .pf {
        display: none;
    }

    .title {
    	font-size: 350%!important;
    }

    ol, ul {
        padding-left: 0;
    }

    .nav-link {
        padding: 0.5rem 0.5rem;
    }

    	.b1-inside {
        	height: 50vh!important;
        	margin: 0!important;
        	padding: 0;
        }


}

@media screen and (max-width: 768px) {

    .b1-inside {
    	height: 100vh;
    	margin: 0!important;
    	padding: 0;
    }
}





body {
    
    /*    font-family: 'Clash Grotesk', sans-serif;*/
/*    font-family: 'Figtree', sans-serif;*/
    font-family: 'Space Grotesk', sans-serif;
    color: #000;
}

.rounded {
	border-radius: 20px!important;
}

p {
/*	font-family: 'Clash Grotesk', sans-serif;*/
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

h2 {
/*	font-family: 'Clash Grotesk', sans-serif;*/
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
    letter-spacing: -0.03em;
}

h3 {
/*	font-family: 'Clash Grotesk', sans-serif;*/
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	text-align: left;
}

.nav-link {
    color: #000;
    font-weight: 500;
}

.nav-link:hover {
    color: #00F7B1;
    fill: #00F7B1;
    transition: fill .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover  path {
    color: #00F7B1;
    transition: fill .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    fill: #00F7B1;
}


path {
    fill: #000;
}

/*path:hover {
    fill: #98F400;
}*/

ol, ul {
        padding-left: 0;
}

.op50 {
    opacity: 50%;
}


li.nav-item::marker {
    display: none;
    color: #FFFFFF00;
}







.sticky-content{

  opacity: 0%;
  transition: opacity 0.1s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.sticky-content.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 100%;
}

/*.hrl {
	margin-top: -100px;
}*/

.nav-scroll {
	padding: 0;
}

.nav-scroll .nav-link {
	padding: 0;
}





.first-block {
/*	height: 100vh;*/
	margin: 0!important;
	padding: 0;
}

.b1-inside {
	height: 100vh;
	margin: 0!important;
	padding: 0;
}

.bg-img {
	background-image: url(img/bg\ opt.png);
	background-size: cover;
	border-radius: 10px;
}

.bg-img3 {
	background-image: url(img/bgi.png);
	background-size: 100%;
	z-index:-10;
	transform:rotate(360deg);

/*	background-position: 100% 0%;*/
}

@keyframes scroll  {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 2500%;
  }
}

.bg-img2 {
	transform: rotate(15deg);
	background-image: url(img/bgs.png);
	animation: scroll linear 250s infinite;
	z-index: -25;
	background-size: 100%;
	/* так же, как и с @keyframes, префикс -ms тут ни к чему */
}


.b1 h1 {
/*	font-family: 'Clash Grotesk', sans-serif;*/
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 37px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}



.b1-text {
	padding: 5vh;
	display: flex;
	background: #fff;
}

.b1-nav a {
/*	font-family: Clash Grotesk;*/
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	text-decoration: none;
	color: #000;
}

.b1-btn-cont {
	padding-top: 15px;
}

.b1-link-in {
	transition: background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
	padding: 5px;
	border-radius: 5px;
}

.b1-link-in:hover {
	background: rgba(0, 0, 0, 0.1);

	background: #F2F2F2;
}

.b1-btn {
	/* Auto Layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;


	width: 155px;


	border-radius: 5px;



}


.btn-tg {
	/* Inside Auto Layout */
	color: #fff!important;
	background: #064BFB;
    border-radius: 30px;
    padding: 10px 10px;
    margin-right: -5px;
	transition: border-radius .15s ease-in-out, background .5s ease-in-out, background-color .2s ease-in-out,border-color .2s ease-in-out;
	transition: border-radius .15s ease-in-out, background .5s ease-in-out, background-color .2s ease-in-out,border-color .2s ease-in-out;
}

.btn-tg:hover {
	color: #fff!important;
	background: #2E73FF;
	border-radius: 15px;
}

.btn-em:hover {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}

.btn-em {
	background: rgba(0, 0, 0, 0.05);
	transition: border-radius .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
	transition: background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.b1-btn-in {
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 10px;
}

/*BLOCK 2 - Projects*/

.b2 {
	background-color: #fff;
	z-index: 20;
	padding-top: 40px;
}

.b2-tltle-cont {
	padding-bottom: 20px;
}

.b2-card {
	padding-bottom: 20px;
}

 a {
	color: #000;
	text-decoration: none;
	transition: opacity .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

a:hover {
	opacity: .8;
	color: #000;
}


.card-title-cont {
	padding-top: 12px;
}

.card-title {
	margin-bottom: 7px;
}

span {
    opacity: 0%;
}