@media screen and (min-width: 480px) {
    .icon {
        display: none;
    }
    .h3i {
        font-size: 90%;
        margin: 0;
    }


}


body {
    
    font-family: 'Clash Display', sans-serif;
    color: #000;
}

.nav-link {
    color: #000;
    font-weight: 500;
}

.nav-link:hover {
    color: #00F7B1;
    fill: #00F7B1;
    transition: fill .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover  path {
    color: #00F7B1;
    transition: fill .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    fill: #00F7B1;
}


path {
    fill: #000;
}

/*path:hover {
    fill: #98F400;
}*/

ol, ul {
        padding-left: 0;
}

.op50 {
    opacity: 50%;
}


li.nav-item::marker {
    display: none;
    color: #FFFFFF00;
}

@media screen and (max-width: 480px) {
    .pf {
        display: none;
    }

    ol, ul {
        padding-left: 0;
    }

    .nav-link {
        padding: 0.5rem 0.5rem;
    }
}

@media screen and (max-width: 380px) {
    .nav-link {
        font-size: 70%;
    }

}

@media screen and (max-width: 430px) {
    .title {
        font-size: 350%;
    }
    .h3i {
        font-size: 50%;
        margin: 0;
    }

}


@media screen and (max-width: 330px) {
	.op50 {
		display: none;
	}


}


h3 {
    font-family: Clash Display;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    padding: 0;
    text-align: center;
    margin: 0;
}


h1 {
    font-family: Clash Display;
    font-style: normal;
    font-weight: bold;
    font-size: 500%;
    line-height: 123px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(img/texture.png);
    padding: 0;
}

.h3o {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px;



    background: rgba(0, 247, 177, 0.25);
    border-radius: 25px;
    font-family: Clash Display;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;
    align-items: center;
    justify-content: center;

    color: #000000;
}

.h3i {
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.title {
    padding: 0;
    margin: 0;
    margin-bottom: -30px;
    margin-top: 13vh;
}


.buttons {
    margin-top: 25px;
}

.btno {

    margin-top: 10px;
}

.offer {
    height: 60vh;
}

.btn-tg {
	background: rgb(0,247,177);
	background: linear-gradient(90deg, rgba(31,246,162,1) 0%, rgba(31,246,164,1) 54%, rgba(31,246,162,1) 100%);
	border-radius: 10px;
	border: 0;
	color: #000;
	transition:  background 1s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-tg:hover {
	background: rgb(0,247,177);
	background: linear-gradient(90deg, rgba(0,247,177,1) 50%, rgba(0,247,224,1) 104%, rgba(0,247,177,1) 150%);
	border-radius: 10px;
	border: 0;
	color: #000;
}


.btne {
	background: rgba(0, 0, 0, 0);
	border: 0;
	color: #000;
}

.btne:hover {
	background: rgba(0,247,177,0.1);
	border: 0;
	color: #000;
}