@media screen and (min-width: 480px) {
    .icon {
        display: none;
    }
    .h3i {
        font-size: 90%;
        margin: 0;
    }

    .title {

    }

    .b1-inside {
    	height: 30vh;
    	margin: 0!important;
    	padding: 0;
    }


}

@media screen and (max-width: 330px) {
	.op50 {
		display: none;
	}
	.title {
		font-size: 255%!important;
	}

	.b1-inside {
    	height: 30vh!important;
    	margin: 0!important;
    	padding: 0;
    }

    .b1 h1 {
    	font-size: 30px!important;
    }

    .b1-text {
    	height: 60vh!important;
    }

    .sm-dis {
    	display: none;
    }
}

@media screen and (max-width: 380px) {
    .nav-link {
        font-size: 70%;
    }
    .title {
    	display: none;
        font-size: 285%!important;
    }



   	.b1-inside {
       	height: 40vh!important;
       	margin: 0!important;
       	padding: 0;
       }

     .b1 h1 {
     	font-size: 30px!important;
     }

     .b1-text {
     	padding: 5vw!important;
     	height: 60vh;
     }


}

@media screen and (max-width: 430px) {
    .title {
        font-size: 325%!important;
        display: none;
    }
    .h3i {
        font-size: 50%;
        margin: 0;
    }

    .sm-dis {
    	display: none;
    }

    .b1-text {
    	padding: 5vw!important;
    	height: 60vh;
    }

}

@media screen and (max-width: 480px) {

		.b1-inside {
	    	height: 30vh!important;
	    	margin: 0!important;
	    	padding: 0;
	    }


    .pf {
        display: none;
    }

    .title {
    	font-size: 350%!important;
    }

    ol, ul {
        padding-left: 0;
    }

    .nav-link {
        padding: 0.5rem 0.5rem;
    }

    	.b1-inside {
        	height: 50vh!important;
        	margin: 0!important;
        	padding: 0;
        }


}

@media screen and (max-width: 768px) {

    .b1-inside {
    	height: 100vh;
    	margin: 0!important;
    	padding: 0;
    }
}









body {
    
    font-family: 'Clash Display', sans-serif;
    color: #000;
}

.rounded {
	border-radius: 20px!important;
}

.nav-link {
    color: #000;
    font-weight: 500;
}

.nav-link:hover {
    color: #00F7B1;
    fill: #00F7B1;
    transition: fill .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover  path {
    color: #00F7B1;
    transition: fill .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    fill: #00F7B1;
}


path {
    fill: #000;
}

/*path:hover {
    fill: #98F400;
}*/

ol, ul {
        padding-left: 0;
}

.op50 {
    opacity: 50%;
}


li.nav-item::marker {
    display: none;
    color: #FFFFFF00;
}




h3 {
    font-family: Clash Display;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    padding: 0;
    text-align: center;
    margin: 0;
}


.h1gr {
    font-family: Clash Display;
    font-style: normal;
    font-weight: bold;
    font-size: 500%;
    line-height: 123px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(img/texture.png);
    padding: 0;
    display: block;
}

.h1c {
    font-family: Clash Display;
    font-style: normal;
    font-weight: bold;
    font-size: 500%;
    line-height: 123px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
    display: block;
    background: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(0,112,80,1) 76%, rgba(0,108,77,1) 85%, rgba(0,107,77,1) 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-mask-image: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(0,112,80,1) 76%, rgba(0,108,77,1) 85%, rgba(0,107,77,1) 97%);
}




.h3o {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px;



    background: rgba(0, 247, 177, 0.25);
    border-radius: 25px;
    font-family: Clash Display;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;
    align-items: center;
    justify-content: center;

    color: #000000;
}

.h3i {
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.title {
    padding: 0;
    margin: 0;
    margin-bottom: -30px;
    margin-top: 13vh;
}



.buttons {
    margin-top: 25px;

}

.btno {

    margin-top: 10px;
}

.btn {
	font-family: Clash Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px
}

.offer {
    height: 60vh;
}

.btn-tg {
	background: rgb(0,247,177);
	background: linear-gradient(90deg, rgba(31,246,162,1) 0%, rgba(31,246,164,1) 54%, rgba(31,246,162,1) 100%);
	border-radius: 10px;
	border: 0;
	color: #000;
	transition:  background 1s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-tg:hover {
	background: rgb(0,247,177);
	background: linear-gradient(90deg, rgba(0,247,177,1) 50%, rgba(0,247,224,1) 104%, rgba(0,247,177,1) 150%);
	border-radius: 10px;
	border: 0;
	color: #000;
}


.btne {
	background: rgba(0, 0, 0, 0);
	border: 0;
	color: #000;
}

.btne:hover {
	background: rgba(0,247,177,0.1);
	border: 0;
	color: #000;
}


.pr-link {
	color: #000!important;

	text-decoration: none!important;
}

.pr-container {
	padding: 0;
}

h4 {
	padding-top: 10px;
	font-family: Clash Display;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
}

.sticky-content{

  opacity: 0%;
  transition: opacity 0.1s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.sticky-content.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 100%;
}

/*.hrl {
	margin-top: -100px;
}*/

.nav-scroll {
	padding: 0;
}

.nav-scroll .nav-link {
	padding: 0;
}





.first-block {
/*	height: 100vh;*/
	margin: 0!important;
	padding: 0;
}

.b1-inside {
	height: 100vh;
	margin: 0!important;
	padding: 0;
}

.bg-img {
	background-image: url(img/bg.png);
	background-size: cover;
}

.b1 h1 {
	font-family: 'Clash Grotesk', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 37px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.b1 h3 {
	font-family: 'Clash Grotesk', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	text-align: left;
}

.b1-text {
	padding: 5vh;
	display: flex;
}

.b1-nav a {
	font-family: Clash Grotesk;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	text-decoration: none;
	color: #000;
}

.b1-btn-cont {
	padding-top: 15px;
}

.b1-link-in {
	transition: background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
	padding: 5px;
	border-radius: 5px;
}

.b1-link-in:hover {
	background: rgba(0, 0, 0, 0.1);

	background: #F2F2F2;
}

.b1-btn {
	/* Auto Layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;


	width: 155px;


	border-radius: 5px;



}


.btn-tg {
	/* Inside Auto Layout */
	color: #fff!important;
	background: #00CD72;
	transition: border-radius background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-tg:hover {
	color: #fff!important;
	background: #00C166;
	border-radius: 2px;
}

.btn-em:hover {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}

.btn-em {
	background: rgba(0, 0, 0, 0.05);
	transition: border-radius .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
	transition: background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.b1-btn-in {
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 10px;
}

