@media screen and (max-width: 430px) {
    .c1 {
        height: auto!important;
        padding: 0 !important;
    }
    .c1-img {
        height: 20rem;
    
        margin-top: 5px;
        background-position-x: center;
        background-size: cover;

    }
    .c1-text {
        padding-left: 0rem!important;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .c1-text-title-cont {
        padding-bottom: 2rem;
    }

    .project-title {
        padding-top: 2rem;
        font-size: 180%!important;
    }

    /* .text-align-center {
        text-align: left!important;
    } */

    .sm-tac {
        text-align: center!important;
    }
}

@media screen and (max-width: 1000px) {
    .c1-text {
        padding-left: 1.5rem!important;
    }
}




body {
    background: #F6F6F6!important;
}

.c {
    margin-right: auto;
    margin-left: auto;
}

.c-padding {
    padding-bottom: 2rem;
    padding-top: 1.5rem;
}

.c1 {
    height: 30rem;
    width: 100%;


    margin-top:  1rem;
    bs-gutter-x: 0rem;
    border-radius: 25px;
    background: #fff;
}

.c1 .row {
    
}

.c1-img {
    margin-top: 5px;
    background-image: url(../img/Projects/Workplace/main-mockup.png);
    background-position-x: center;
    background-size: cover;
}

.c1-text {
    padding-left: 5rem;
}

.project-title {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 92.5%;
    text-transform: none;
}

.wp-c1-img {

}

.c2 {

}

.c2-text {
    padding-top: 2rem;
}

.c-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 105%;
    box-sizing: border-box;
    color: #000;
}

.c3 {

}

.text-align-center {
    text-align: center;
    color: #000;
}


.wp-wf {
    height: 300px;
    background-image: url(../img/Projects/Workplace/wrfr.svg);
    animation: mymove 95s linear infinite;
    background-position: center left;
    border-radius: 15px;
}


@keyframes mymove {
  0% {background-position: center left;} 
  50% {background-position: center center;}
  100% {background-position: center right;}
}

